.section {
    padding: 30px 250px 30px 250px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.title {
  font-family: "eurostile", sans-serif;
  font-size: 30px;
  color: #141c3a;
  font-weight: 800;
}
.subTitle{
    font-family: "eurostile", sans-serif;
  font-size: 20px;
  color: #141c3a;
  font-weight: 100;
  padding-bottom: 38px;
}

.description{
    background-color: #cfeff9;
    padding: 51px 150px 59px 150px;
    
    
}
.skillsSection{
    background-color: white;
    margin: 0px 50px;
    padding: 80px 0px 80px 0px;
    /* margin-top: -35px; */
    border-radius: 5px;
}

.gadgetSection{
    width: 980px;
}

.avatarSection{
    width: 194px;
}
.skillBadge{
    padding: 10px;
    background: #cfeff9;
    border-radius: 22px;

}
.skillSetBlock{
    display: flex;
    flex-direction: column;
    row-gap: 19px;
}

.skillPills{
    display: flex;
    column-gap: 10px;
    flex-wrap: wrap;
    row-gap: 10px;

}